{% extends 'base.html.twig' %}

{% block title %}{{ userUpdateForm ? ('form.update_account'|trans) : ('form.create_account'|trans) }}{% endblock %}

{% block body %}
    <div id="form" class="form-background">
        <div class="form">
            <div class="form-content">
                <div class="mix">
                    <div class="headline">
                        <h3 class="text-headline">{{ userUpdateForm ? ('form.update_account'|trans) : ('form.create_account'|trans) }}</h3>

                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success text-subheadline">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {{ form_start(userCreateForm, { attr: { class: 'all-form' } }) }}
                <div class="spliter">
                    <div class="left">
                        <span class="form-group">
                            {{ form_label(userCreateForm.pseudo) }}
                            {% if userUpdateForm %}
                                <div class="input-reset-inline">
                                    {{ form_widget(userCreateForm.pseudo, {
                                        attr: {
                                            'id': 'user_pseudo',
                                            'data-original': userCreateForm.pseudo.vars.value
                                        }
                                    }) }}
                                    <button type="button" class="reset-btn"><i class='fas fa-undo redo-icon'></i></button>
                                </div>
                            {% else %}
                                {{ form_widget(userCreateForm.pseudo, { attr: { id: 'user_pseudo' } }) }}
                            {% endif %}
                            {{ form_errors(userCreateForm.pseudo) }}

                            <div id="user_pseudo-error" class="form-error" style="visibility:hidden;">&nbsp;</div>
                        </span>
                        <span class="form-group">
                            {{ form_label(userCreateForm.email) }}
                            {% if userUpdateForm %}
                                <div class="input-reset-inline">
                                    {{ form_widget(userCreateForm.email, {
                                        attr: {
                                            'id': 'user_email',
                                            'data-original': userCreateForm.email.vars.value
                                        }
                                    }) }}
                                    <button type="button" class="reset-btn"><i class='fas fa-undo redo-icon'></i></button>
                                </div>
                            {% else %}
                                {{ form_widget(userCreateForm.email, { attr: { id: 'user_email' } }) }}
                            {% endif %}
                            {{ form_errors(userCreateForm.email) }}

                            <div id="user_email-error" class="form-error" style="visibility:hidden;">&nbsp;</div>
                        </span>
                    </div>
                    <div class="right">
                        {% set pw1Errors = form_errors(userCreateForm.plainPassword.first) %}
                        <span class="form-group {{ pw1Errors ? 'inputs--invalid' }}">
                            {{ form_label(userCreateForm.plainPassword.first) }}
                            {{ form_widget(userCreateForm.plainPassword.first, { attr: { id: 'user_password_first' } }) }}

                            <div id="user_password_first-error" class="form-error" style="{{ pw1Errors ? '' : 'visibility:hidden;' }}">
                                {% if pw1Errors %}
                                    {{ pw1Errors|raw }}
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </div>
                        </span>
                        {% set pw2Errors = form_errors(userCreateForm.plainPassword.second) %}
                        <span class="form-group {{ pw2Errors ? 'inputs--invalid' }}">
                            {{ form_label(userCreateForm.plainPassword.second) }}
                            {{ form_widget(userCreateForm.plainPassword.second, { attr: { id: 'user_plainPassword_second' } }) }}

                            <div id="user_password_second-error" class="form-error" style="{{ pw2Errors ? '' : 'visibility:hidden;' }}">
                                {% if pw2Errors %}
                                    {{ pw2Errors|raw }}
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </div>
                        </span>
                    </div>
                </div>

                <input class="btn btn-lg btn-primary" type="submit" value="{{ 'validate'|trans }}">
                {{ form_end(userCreateForm) }}
            </div>
        </div>
    </div>
{% endblock %}