{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div id="form" class="form-background">
        <div class="form">
            <div class="form-content">
                <div class="mix">
                    <div class="headline">
                        <h3 class="text-headline">{{ 'sign_in'|trans }}</h3>
                        <div class="text-subheadline">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="alert alert-success">
                                    <span>{{ 'logged_in_as'|trans }} {{ app.user.userIdentifier }}</span>
                                    <a href="{{ path('app_logout') }}" class="btn btn-warning">{{ 'sign_out'|trans }}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <form method="post" id="login-form" class="all-form">
                    <div class="spliter">
                        <div class="left">
                            <span class="form-group">
                                <label for="username">{{ 'email'|trans }}</label>
                                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required>

                                <div id="username-error" class="form-error" style="visibility:hidden;">&nbsp;</div>
                            </span>

                            <span class="form-group">
                                <label for="password">{{ 'password'|trans }}</label>
                                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <div id="password-error" class="form-error" style="visibility:hidden;">&nbsp;</div>
                            </span>

                            {# <span class="forgot-password-btn" style="text-align:center; margin-top: 0.5rem;">
                                <a href="{{ path('forgot_password') }}" class="forgot-password-link">
                                    {{ 'forgot_password'|trans }}
                                </a>
                            </span> #}

                            <span class="form-group switch-group inputs--filled">
                                <label for="_remember_me" class="switch-label">
                                    <label class="switch-text">{{ 'remember_me'|trans }}</label>
                                    <input type="checkbox" name="_remember_me" id="_remember_me" class="switch-input">
                                    <div class="switch-slider"></div>
                                </label>
                            </span>

                            <input class="btn btn-lg btn-primary" type="submit" value="{{ 'validate'|trans }}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
