{% extends 'base.html.twig' %}

{% block title %}Choix de faction{% endblock %}

{% block body %}
    <div id="form" class="form-background">
        <div class="form">
            <div class="form-content">
                <div class="mix">
                    <div class="headline">
                        <h3 class="text-headline">Choisissez votre faction</h3>
                        <p class="text-subheadline">Ce choix est demandé une seule fois à votre entrée dans la partie.</p>
                    </div>
                </div>

                {{ form_start(form, { attr: { class: 'all-form' } }) }}
                    <div class="factions-grid">
                        {% for faction_field in form.factions %}
                            <div class="faction-card">
                                <label class="faction-label">
                                    {{ faction_field }}
                                    <div class="faction-content">
                                        <h4 class="faction-name">{{ faction_field.vars.choice_label(faction_field.vars.data) }}</h4>
                                        <p class="faction-description">{{ faction_field.vars.attr['data-description'] }}</p>
                                    </div>
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <div style="text-align: center; margin-top: 2rem;">
                        <button class="btn btn-lg btn-primary" type="submit">Rejoindre cette faction</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}